<div class="topBarCnt">
  <div class="topLeftBAR">
    <img
      src="https://productimagesbuckett.s3.eu-west-1.amazonaws.com/primeShopLoginS3+(3)"
      style="width: 184px; cursor: pointer;"
      (click)="redirectToProducts()"
      alt="Logo"
      class="imgLogo"
    />
  </div>

  <div class="productsSear" *ngIf="router.url !== '/customer_show_all_products_page'">

  </div>

  <div class="CNT_products_search" *ngIf="router.url == '/customer_show_all_products_page'">
    <input
      type="text"
      [(ngModel)]="searchValue"
      placeholder="Buscar..."
      class="inputSearchProd"
    />
    <button type="button" class="inputSearchProd" (click)="search()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="iconSearchPROD">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 103.75 3.75a7.5 7.5 0 0012.9 12.9z" />
      </svg>
    </button>
  </div>

  <div class="RIGHTBAR">
    <button mat-icon-button (click)="openCart_Modal1()" style="margin-right: 10px;">
      <!-- Icono del carrito -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
      </svg>
    </button>

    <!-- USER MENU CONTENEDOR -->
    <div class="menu_usuario_wrapper" style="width: 40px; height: auto; display: flex; justify-content: flex-end;" (mouseenter)="showUserMenu = true" (mouseleave)="showUserMenu = false">
      <button mat-icon-button (click)="openUser_Modal1()" >
        <!-- Icono usuario -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0
             m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
      </button>

      <!-- MENÚ -->
      <div class="modal_usuario_custom" *ngIf="showUserMenu && (userService2?.rol === 'ROLE_CUSTOMER' || userService2?.rol === 'ROLE_ADMIN')">
        <ul class="menu_opciones">
          <li class="item_menu" (click)="modificarAccount()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.5 20.25a8.25 8.25 0 1115 0H4.5z" />
            </svg>
            <div class="texto_menu">
              <span class="titulo_menu">Perfil</span>
            </div>
          </li>

          <li class="item_menu" *ngIf="userService2?.rol === 'ROLE_ADMIN'" (click)="manageAdminProducts()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 3h18M3 7h18M3 11h18M3 15h18M3 19h18" />
            </svg>
            <div class="texto_menu">
              <span class="titulo_menu">Gestionar productos</span>
            </div>
          </li>

          <li class="item_menu" *ngIf="userService2?.rol === 'ROLE_ADMIN'" (click)="manageAdminProductsCategories()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 3h18M3 7h18M3 11h18M3 15h18M3 19h18" />
            </svg>
            <div class="texto_menu">
              <span class="titulo_menu">Gestionar Categorías de productos</span>
            </div>
          </li>

          <li class="item_menu" *ngIf="userService2?.rol === 'ROLE_ADMIN'" (click)="routeToRegisterAdmin()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 3h18M3 7h18M3 11h18M3 15h18M3 19h18" />
            </svg>
            <div class="texto_menu">
              <span class="titulo_menu">Registrar nuevo administrador</span>
            </div>
          </li>

          <li class="item_menu" *ngIf="userService2?.rol === 'ROLE_ADMIN'" (click)="maange__orders()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6v6l4 2m6 6H6a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v12z" />
            </svg>
            <div class="texto_menu">
              <span class="titulo_menu">Gestionar ordenes</span>
            </div>
          </li>

          <li class="item_menu" *ngIf="userService2?.rol === 'ROLE_CUSTOMER'" (click)="customerLink_to_my_orders()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
            <div class="texto_menu">
              <span class="titulo_menu">Mis órdenes</span>
            </div>
          </li>

          <li class="menu_divisor"></li>

          <li class="item_menu logout" (click)="logout()">
            <svg class="icono_menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3-3H9.75m0 0l3-3m-3 3l3 3" />
            </svg>
            <span class="titulo_menu">Cerrar sesión</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
