.grid-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; 
}

.header {
  background-color: #fff;
  padding: 0;
  flex-shrink: 0; 
  height: 8vh;

}

.content {
  flex: 1 1 auto;
  background-color: #fff;
  padding: 0;
}
