<div class="FORMcontainer">
  <form [formGroup]="modifyForm" (ngSubmit)="onSubmit()" class="formClass" autocomplete="off">
    <h1 class="formTITLE">Editar Perfil</h1>

    <label for="name">Nombre <span class="REQUIRE">*</span></label>
    <input
      type="text"
      id="name"
      formControlName="name"
      placeholder="Introduce tu nombre"
      class="styledInput"
    />

    <label for="birthdate">Fecha de nacimiento <span class="REQUIRE">*</span></label>
    <input
      type="date"
      id="birthdate"
      formControlName="birthdate"
      class="styledInput"
    />

    <label for="email">Correo electrónico <span class="REQUIRE">*</span></label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="ejemplo@email.com"
      class="styledInput"
    />

    <label for="address">Dirección <span class="REQUIRE">*</span></label>
    <input
      type="text"
      id="address"
      formControlName="address"
      placeholder="Introduce tu dirección"
      class="styledInput"
    />

    <button type="submit" class="btnSb">Guardar</button>
  </form>
</div>
